<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Control panel</title>
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet">
</head>
<body>
<a href="/newTheme">new theme</a>
<form th:action="@{/logout}" th:method="post"><input type="submit" value="Log out" class="Button" style="position: absolute; left: 360px; top: 100px;"/></form>
<div style="position: absolute; left: 200px; top: 140px; alignment: center;">
</div>
</body>
</html>



